//bgcolor
.bg-primary{background:$primary-color;}
.bg-secondary{background:$secondary-color;}
.bg-gray{background:$gray-color;}
.bg-dark-gray{background:$dark-gray-color;}
.bg-orange{background:$orange-color;}

