// color
$primary-color:#3D1101;
$secondary-color:#F0E9E7;
$orange-color:#F56C23;
$gray-color:#FAFAFA;
$dark-gray-color:gray;
$light-color:#fff;

//social
$google-color:#DB4437;
$twitter-color:#41ABE1;
$facebook-color:#3A5795;

//font
$base-font-size:16px;